@(bookInfos: List[BookInfo])

@main("Select a book to import to your library") {
	@helper.form(action = routes.Books.saveFoundSelection(), 'class -> "form-horizontal") {
	
		@if(bookInfos.length == 0) { <em>No books found.</em>} else {
			@for(book <- bookInfos) {
				<input type="radio" name="openlibraryKey" value="@book.openlibraryKey">
				<em>@book.title</em> by <em>@book.authorName.mkString(", ")</em> <br>
			}
			<button type="submit" class="btn btn-primary">Add this book</button>
		}
	}
}