@()
          @if(flash.containsKey("error")) {
          	<p class="alert alert-danger">
          		@flash.get("error")
          	</p>
          }
          
          @if(flash.containsKey("success")) {
          	<p class="alert alert-success">
          		@flash.get("success")
          	</p>
          }
          
          @if(flash.containsKey("warning")) {
          	<p class="alert alert-warning">
          		@flash.get("warning")
          	</p>
          }
          
          @if(flash.containsKey("notice")) {
          	<p class="alert alert-info">
          		@flash.get("warning")
          	</p>
          }